/* Color theme & max width variables */
:root {
  --primary: #1C3144;
  --secondary: #3F88C5;
  --accent: #FF8C42;
  --max-width: 1086px;
}

#root {
  width: 100%;
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  padding: 0 min(10vw, 10vh);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.buttonGroup>a>button {
  width: 180px;
}

.App a, .App button {
  color: var(--primary);
}

.App button {
  border: 1px solid var(--primary);
  box-shadow: 3px 3px 0px var(--primary);
  width: fit-content;
  padding: 0.2rem 1rem;
}

.App button:hover {
  box-shadow: 4.5px 3px 0px var(--primary);
  transform: translate(-1.5px, 0px);
}

.App button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.App input, .App select {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary);
  height: 2rem;
  color: black;
}

.App .feedback {
  background-color: white;
  color: green;
  padding: 15px;
  width: fit-content;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px green;
}

.App .feedback a {
  color: green;
}

/* Header */

.Header {
  width: 100%;
  max-width: var(--max-width);
  height: fit-content;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 2rem;
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.headerLogo {
  font-size: max(6vw, 5rem);
  font-family: 'Pacifico', cursive;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  /* min-width: 260px; */
}

.navButtonGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

button.returnHomeWrapper, button.navActivePage {
  box-sizing: border-box;
  display: flex;
  gap: 5px;
  box-shadow: none;
  width: fit-content;
  justify-content: center;
  font-size: 0.8rem;
  border: none;
  box-shadow: 1px 1px 2px var(--primary), -1px -1px 2px var(--primary);
}

button.returnHomeWrapper:hover {
  box-shadow: none;
  transform: none;
  background-color: var(--primary);
}

a button.returnHomeWrapper:hover {
  color: var(--secondary);
}

button.returnHomeWrapper:active {
  scale: 0.95;
}

button.navActivePage {
  background-color: var(--primary);
  box-shadow: none;
  cursor: not-allowed;
}

a button.navActivePage {
  color: var(--secondary);
  cursor: not-allowed;
}

button.navActivePage:hover {
  box-shadow: none;
  transform: none;
  background-color: var(--primary);
}

.Home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  font-size: max(20vw, 8rem);
  font-family: 'Permanent Marker', cursive;
  align-self: center;
}

.tagline {
  font-size: max(4vw, 1.75rem);
  font-family: 'Pacifico', cursive;
  align-self: center;
  text-align: center;
  margin-top: min(-40px, -7vw);
  margin-bottom: 2rem;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-top: 4rem;
  gap: 1rem;
  justify-content: flex-start;
}

.main h1 {
  font-size: min(2rem, 7.5vw);
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  margin-bottom: 2rem;
}

.main h2 {
  font-size: min(1.5rem, 6.2vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* main - CreateEvent */

.main__CreateEvent {
  align-items: center;
  justify-content: center;
}

.main__CreateEvent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.main__CreateEvent form>div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main__CreateEvent form button {
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

/* main - ViewEvent */

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardLine {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.cardLineTitle {
  font-weight: 700;
  min-width: 85px;
}

.card input[type='text'] {
  width: 150px;
}

.cardLineGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardLineGroup .cardLine {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 0.5rem;
}

.cardLineGroup .cardLineVertical {
  align-items: flex-start;
}

/* main - ViewAllEvents */

.main__ViewCurrentEvents .cardLineGroup {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 600px;
  margin-top: 1rem;
}

.main__ViewCurrentEvents .cardLineGroup .cardLine {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.main__ViewCurrentEvents .cardLineTitle {
  width: min(100%, 360px);
}

.signature {
  display: flex;
  font-family: 'Pacifico', cursive;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 5px;
  font-size: min(5vw, 1.2rem);
  padding-top: 2rem;
  margin-bottom: 2px;
}

.heartIcon {
  color: red;
  scale: 1.5;
  padding: 0 5px 2px 5px;
}

/* loading icon */
#loading {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 5px solid var(--secondary);
  border-radius: 50%;
  border-top-color: var(--primary);
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  margin-top: 1rem;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* authorizeViewAllEvents */
.authorizeViewAllEvents {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 200px;
  left: 0;
  background-color: var(--primary);
  opacity: 0.8;
  border-radius: 30px;
}

.authorizeViewAllEvents input {
  color: white;
  width: min(300px, 80%);
  font-size: min(1.5rem, 6vw);
  align-self: center;
  margin-top: 5rem;
  text-align: center;
  padding: 1rem;
}

button.specialButton {
  /* margin: 0 auto; */
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #ff69b4, -3px -3px 8px #663399;
  box-shadow: 3px 3px 8px var(--primary), -3px -3px 8px var(--secondary);
  color: white;
  background: rgb(102,51,153);
  background: linear-gradient(48deg, rgba(102,51,153,1) 0%, rgba(255,105,180,1) 100%);
}

a button.specialButton:hover {
  color: white;
}