/* Color theme & max width variables */
:root {
  --primary: #FF3C38;
  --secondary: #FFF275;
  --accent: #FF8C42;
  --max-width: 1086px;
}

#root {
  width: 100%;
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.App {
  padding: 0 min(10vw, 10vh);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.App a, .App button {
  color: var(--primary);
}

.App button {
  border: 1px solid var(--primary);
  box-shadow: 3px 3px 0px var(--primary);
  width: fit-content;
  padding: 0.2rem 1rem;
}

.App .aboutButton {
  min-width: 100px;
  border-color: #885053;
  color: #885053;
  box-shadow: 3px 3px 0px #885053;
  font-style: italic;
}

.App .aboutButton:hover {
  box-shadow: 4.5px 3px 0px #885053;
  transform: translate(-1.5px, 0px);
}

.App .aboutButton:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.App button:hover {
  box-shadow: 4.5px 3px 0px var(--primary);
  transform: translate(-1.5px, 0px);
}

.App button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.App .feedback {
  background-color: white;
  color: green;
  padding: 15px;
  width: fit-content;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px green;
}

.App .feedback a {
  color: green;
}

/* Header */

.Header {
  width: 100%;
  max-width: var(--max-width);
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.headerLogo {
  font-size: max(6vw, 5rem);
  font-family: 'Pacifico', cursive;
  font-family: 'Permanent Marker', cursive;
  display: flex;
}

.Home {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: max(20vw, 8rem);
  font-family: 'Permanent Marker', cursive;
  align-self: center;
}

.tagline {
  font-size: max(4vw, 1.75rem);
  font-family: 'Pacifico', cursive;
  align-self: center;
  text-align: center;
  margin-top: min(-40px, -7vw);
  margin-bottom: 2rem;
}

button.returnHomeWrapper {
  display: flex;
  gap: 5px;
  box-shadow: none;
  width: fit-content;
}

button.returnHomeWrapper:hover {
  box-shadow: none;
  transform: none;
}

.returnHomeWrapper span {
  scale: 1.7;
  position: relative;
  top: -5px;
  display: none;
}

.returnHomeWrapper:hover span {
  display: inline;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.main h1 {
  font-size: min(2rem, 7.5vw);
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
}

.main h2 {
  font-size: min(1.5rem, 6.2vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* main - CreateEvent */

.main__CreateEvent {
  align-items: center;
}

.main__CreateEvent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.main__CreateEvent form>div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main__CreateEvent form button {
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

/* main - ViewEvent */

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardLine {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.cardLineTitle {
  font-weight: 700;
  min-width: 85px;
}

.card input[type='text'] {
  width: 150px;
}

.cardLineGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardLineGroup .cardLine {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 0.5rem;
}

.cardLineGroup .cardLineVertical {
  align-items: flex-start;
}

/* main - ViewCurrentEvents */

.main__ViewCurrentEvents .cardLineGroup {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 600px;
  margin-top: 1rem;
}

.main__ViewCurrentEvents .cardLineGroup .cardLine {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.main__ViewCurrentEvents .cardLineTitle {
  width: min(100%, 360px);
}

.main__ViewCurrentEvents button.goToButton {
  box-shadow: none;
  transform: none;
}

.goToButton a {
  display: flex;
}

.goToButton .goToArrow {
  rotate: 270deg;
  scale: 1.25;
  display: none;
}

.goToButton:hover .goToArrow {
  rotate: 270deg;
  scale: 1.15;
  display: block;
  font-weight: 100;
}

.signature {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 5px;
  font-size: min(5vw, 1.2rem);
  padding-top: 2rem;
}