/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
*/

/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

body {
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border: none;
}

#root, #__next {
  isolation: isolate;
}